html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    background-color: #eaeaea;
}

.sticky-header{
    background-color: #fff;
    position: fixed;
    height: 80px;
    width: 100%;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.2);
/*    display: block;*/
/*    overflow: hidden;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 12em 6em auto 50px 50px 80px;
    z-index: 3;
}

.craigslist{
    font-family: 'Vidaloka', serif;
    font-size: 45px;
    float: left;
}

.sticky-header .location{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: fit-content;
    float: left;
    margin-top: 1.5em;
}

.sticky-header .location .collapse-icon{
    height: 12px;
    margin-left: 5px;
    transform: translateY(2px);
}
.sticky-header .location .collapse-icon:hover{
/*    opacity: 0.6;*/
}

.sticky-header .location .highlight{
    width:50px; height:15px;
    background-color: #f2e337;
    position: absolute;
    z-index: -1;
    transform: translateY(-16px);

}

.collapse-icon:hover ~ .highlight{
    background-color: #f94e4e !important;
}

.sticky-header .compose, .calendar, .profile{
    float: right;
    height: 30px;
    margin-top: 20px;
}

.sticky-header .compose:hover, .calendar:hover, .profile:hover{   
    opacity: 0.6;
}

.sticky-header .search{
    float:right;
}

.sticky-header .search input{
    width: 80%;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border:0;
    border-bottom: 1px solid #ccc;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 1.3em;
    align-self: center;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url(../icons/search.png);
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: 25px;
/*    box-shadow: 0px 4px 10px #ddd;*/
/*    border-radius: 20px;*/
/*    background: #f2f2f2 url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 150px center;*/
}

.sticky-header .search input:focus{
    outline: none;
    border-bottom: 1.5px solid #444;
    background: none;
}

.lvl1-nav{
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #1a1a1a;
    box-shadow: 2px 0px 20px rgba(0,0,0,0.4);
    margin-top: 80px;
    padding-top: 2%;
    padding-bottom: 3%;
/*    padding-left: 5%;*/
/*    padding-right: 5%;*/
    z-index: 2;
    overflow-y: auto;
}

.lvl1-nav ul{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: aliceblue;
    text-align: right;
    padding-left: 0;
}

.lvl1-nav li{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.lvl1-nav li:hover{
    background-color: rgba(255,255,255,0.03);
}

.lvl1-nav::-webkit-scrollbar {
    margin-top: 100px;
    width: 8px;
    background-color: rgba(0,0,0,0);
}

.lvl1-nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
/*    border-radius: 10px;*/
}

.lvl1-nav::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255,255,255,0.15);
/*    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,1); */
}

.lvl2-nav{
    position: fixed;
    width: 18%;
    height: 100%;
    background-color: #202020;
    box-shadow: 2px 0px 20px rgba(0,0,0,0.4);
    margin-top: 80px;
    margin-left: 20%;
    padding-top: 2%;
    padding-bottom: 3%;
/*    padding-left: 5%;*/
/*    padding-right: 5%;*/
    z-index: 1;
    overflow-y: auto;
}

.lvl2-nav ul{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: aliceblue;
    text-align: right;
    padding-left: 0;
}

.lvl2-nav li{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.lvl2-nav li:hover{
    background-color: rgba(255,255,255,0.03);
}

.lvl2-nav::-webkit-scrollbar {
    margin-top: 100px;
    width: 8px;
    background-color: rgba(0,0,0,0);
}

.lvl2-nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
/*    border-radius: 10px;*/
}

.lvl2-nav::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255,255,255,0.15);
/*    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,1); */
}