html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

::-webkit-scrollbar { 
    display: none; 
}

table{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-collapse: collapse;
}

th{
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: left;
}

td{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    text-align: left;
    min-width: 200px;
}

.even{
/*    background-color: rgba(0,0,0,0.04);*/
}